html{
  background: #0d730d;
}
p{
  color: #FFFFFF;
  font-family: system-ui;
  text-align: center;
  font-size:32px;
  font-weight: bolder;
}
#pontuacaoDealer{
  text-align: left;
  
}
#pontuacaoJogador{
  text-align: left;
}
button{
  align: center;
  position:relative;
  display: inline-block;
  font-weight: bold;
  padding: 12px 8px; 8px;
  text-decoration: none;
  color: #FFFFFF;
  background: transparent;
  font-family: system-ui;
}
#hit{
  background: blue;
}
#hold{
  background: red;
}
